In [2]:
import pandas as pd
data = pd.read_csv('/Users/shuchenz/Desktop/Ops Con/ChangingRoom/Coding/Data/current_data.csv')

/var/folders/j3/njl9qzcj0lbb505pgvr7gsrh0000gn/T/ipykernel_6390/2955465551.py:2: DtypeWarning: Columns (16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/shuchenz/Desktop/Ops Con/ChangingRoom/Coding/Data/current_data.csv')

## Identify the columns

In [ ]:
data.columns

In [3]:
low_level = pd.unique(data['low_level'])
high_level = pd.unique(data['high_level'])
color = pd.unique(data['color'])

In [ ]:
def slice_data_to_csv(colname, list, data):
    for i in list:
        data[data[colname] == i].to_csv(colname + i + ".csv")

In [16]:
grouped = data.groupby(['low_level'])
total_prop = pd.DataFrame(grouped.size(), columns = ['count'])
total_prop['prop'] = round(total_prop['count'] / total_prop['count'].sum(), 2)

data_sample = data.sample(n = 1000)
sample_grouped = data_sample.groupby(['high_level'])
sample_prop = pd.DataFrame(sample_grouped.size(), columns = ['count'])
sample_prop['prop'] = round(sample_prop['count'] / sample_prop['count'].sum(), 2)

85

In [48]:
total = pd.merge(sample_prop, total_prop, left_index=True, right_index=True).drop

             count_x  prop_x  count_y  prop_y
high_level
NAHWORK           38    0.04    44632    0.04
accessories       28    0.03    20960    0.02
bag               58    0.06    55713    0.05
business           2    0.00     1843    0.00
dresses           77    0.08    78890    0.07
headgear           2    0.00     1792    0.00
hoodies            1    0.00     2008    0.00
intimates         29    0.03    33553    0.03
jeans             86    0.09    70021    0.06
joggers           12    0.01     9715    0.01
onesie            20    0.02    18906    0.02
other             31    0.03    41021    0.04
outerwear        140    0.14   159962    0.15
pajamas           35    0.04    39242    0.04
pants              8    0.01     8079    0.01
rompers           58    0.06    59467    0.06
shirts           135    0.14   160137    0.15
shoes            100    0.10    96048    0.09
shorts            38    0.04    47252    0.04
skirts            24    0.02    29134    0.03
sweaters          34    0.03    51853    0.05
swimwear          44    0.04    48813    0.05

In [49]:
data_sample.to_csv('1000_sample1.csv')